.formcolor{
    background-color: rgba(11, 8, 49, 0.402);
}

.namebox{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.257);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glowing border effect */

}
.emailbox{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.257);
    border-radius: 10px;
}
.message{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.257);
    border-radius: 10px;
}

.sentmessage{
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.257);
    border-radius: 70% 5%;
}